Package: com.supermamon.cylindernitro
Name: Cylinder Nitro
Architecture: iphoneos-arm
Depends: com.r333d.cylinder
Description: More cool effects for the Cylinder Tweak
Maintainer: supermamon <at.supermamon@gmail.com>
Author: supermamon <at.supermamon@gmail.com>
Section: Addons (Cylinder)
Depiction: https://supermamon.github.io/repo/depictions/CylinderNitro/index.html
