Package: com.supermamon.cylindernitro
Name: Cylinder Nitro
Architecture: iphoneos-arm
Description: More cool effects for the Cylinder Tweak
Maintainer: supermamon <at.supermamon@gmail.com>
Author: supermamon <at.supermamon@gmail.com>
Section: Addons (Cylinder)
Depiction: http://cydia.supermamon.com/repo/depictions/cylindernitro.html
